#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: azure;
}
header {
    background-color: #457B9D;
}
nav a:hover {
    background-color: #A8DADC;
    color: aliceblue;
}
.book, .join {
    background-color: #457B9D;
    color: #A8DADC;
    text-decoration: none;
}
#background {
    background-color: #A8DADC;
}
.msg {
   background-color:  #1D3557;  
}
footer {
   background-color:  #1d3557;
   color: #A8DADC;
}
.home-title {
    color:#A8DADC;
}
h4 {
    color: #1D3557;
}
.book:hover, .join:hover {
    color: aliceblue;
}
.msg h2 {
    color: #A8DADC;
}
.msg p {
    color: #A8DADC;
}
footer a {
    color: #A8DADC;
    text-decoration: none;
}
footer a:hover {
    color: aliceblue;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hoover {
    text-decoration: underline;
}
